input, button {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

h3 {
    text-align: center;
}

/* body {
    display: flex;
    background-color: #02020f;
}

.box-central {
    background-color: rgb(209, 209, 209);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: auto;
}

.card {
    background-color: grey;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    border: solid;
    border-color: rgb(202, 202, 202);
    border-width: 2px;
}

button {
    width: 100%;
    background-color: #02020f;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    border: none;
    font-size: 15px;
    color: white;
} */